extends _includes/layout.pug

block content
    main
        h1 I am 
            span= site.author

        p I am a software developer and this is a 
            span
                b Work in progress
            |  have a sleeping bunny!

        input#roll(type="checkbox")
        label(for="roll")
            img.bunny(alt='bunny' src='static/images/bunny.png')