extends _includes/layout.pug

block content
    header
        nav
            ul
                li.logo
                    strong.logo__name I am #{site.author}
                    br
                    | a software developer

    main
        p This is a 
            b
                i work in progress
            |. Have some 
            i cat ipsum 
            | and a sleeping bunny!
        
        section
            h2 Projects

            ul
                li
                    a(href="https://wo-der-pfeffer-waechst.at")
                        strong Wo der Pfeffer wächst
                    |: Travel to the origin of organic and Fairtrade raw materials.
                    | Built on 
                    a(href="https://gatsbyjs.org/") GatsbyJS
                    | .

        p Gnaw the corn cob. Meow go back to sleep owner brings food and water tries to pet on head, so scratch get sprayed by water because bad cat and sometimes switches in french and say "miaou" just because well why not scratch me there. Kitty scratches couch bad kitty spend all night ensuring people don't sleep all day kitty power play riveting piece on synthesizer keyboard and your pillow is now my pet bed.

        figure.bunny
            input#bunny.bunny__state(type="checkbox")
            label.bunny__container(for="bunny")
                img.bunny__image(alt="A sleeping bunny" loading="auto" src="static/images/bunny.png")

    footer
        dl.footer__links
            dt.footer__icon.footer__icon--github
            dd
                a(href="https://github.com/" + site.github) @#{site.github}

            dt.footer__icon.footer__icon--twitter
            dd
                a(href="https://twitter.com/" + site.twitter) @#{site.twitter}