extends _includes/layout.pug

block content
    main.container
        h1= site.title
        h2= site.subtitle

        p I am a software developer and this is a work in progress, have a hopping bunny!

        img(alt='bunny' src='static/images/bunny.gif' style='max-width:80%')
