extends _includes/layout.pug

block content
    header
        h1 I am #{site.author}
            span A software developer

    main
        p This is a work in progress. Have a sleeping bunny!

        figure.bunny
            input#bunny.bunny__state(type="checkbox")
            label.bunny__container(for="bunny")
                img.bunny__image(alt="A sleeping bunny" src="static/images/bunny.png")

    footer
        dl.footer__links
            dt.icon.icon--github
            dd
                a(href="https://github.com/" + site.github) @#{site.github}

            dt.icon.icon--twitter
            dd
                a(href="https://twitter.com/" + site.twitter) @#{site.twitter}