:root {
  --bg: #ffffff;
  --fg: #18141b;
  --primary: #e16963;
  --secondary: #e2a792;
  --accent: #f2cc57;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  margin: 2em auto;
  width: 80%;
  color: var(--fg);
}

nav ul {
  list-style-type: none;
  padding: 0;
}
