body::-webkit-scrollbar {
  width: 0.6em;
}

body::-webkit-scrollbar-button {
  background-repeat: no-repeat;
}

body::-webkit-scrollbar-button:start {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6-6 6z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
  background-position: bottom;
}

body::-webkit-scrollbar-button:end {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z' fill='18141b'/%3E%3C/svg%3E");
  background-position: top;
}

body::-webkit-scrollbar-thumb {
  background-image: linear-gradient(
    to right bottom,
    var(--primary),
    var(--accent)
  );
  border: 0.2em solid var(--bg);
  border-radius: 2em;
}
