@import url('https://fonts.googleapis.com/css?family=Spectral&display=swap');

/*
Leafy free brush font
https://wildpicks.design/product/leafy-free-handwriting-brush-font/
*/
@font-face {
  font-family: leafy;
  src: url('/static/fonts/leafy.woff');
}

body {
  font-family: 'Spectral', 'Times New Roman', Times, serif;
  font-size: calc(16px + 0.3vw);
  line-height: 1.6;
}

a {
  position: relative;
  color: inherit;
  text-decoration: none;
}

a::after {
  content: '';
  position: absolute;
  z-index: -1;
  left: 0;
  top: 85%;
  height: 0.05em;
  width: 100%;
  background-image: linear-gradient(
    to right top,
    var(--accent),
    var(--primary)
  );
  background-size: cover;
}

a:hover,
a:focus {
  background-image: linear-gradient(
    to right top,
    var(--primary),
    var(--accent) 30%,
    var(--primary) 60%
  );
  background-clip: text;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: leafy;
}

p {
  max-width: 40em;
}
