body {
  font-family: 'iA Writer Quattro', 'IBM Plex Sans', Arial, sans-serif;
  font-size: calc(1rem + 0.15vw);
  line-height: 1.6;
}

a {
  position: relative;
  color: inherit;
  text-decoration: none;
}

p {
  max-width: 45em; /* Fallback */
  max-width: 80ch;
}
