body {
  font-family: 'iA Writer Quattro', 'IBM Plex Sans', Arial, sans-serif;
  font-size: calc(1rem + 0.15vw);
  line-height: 1.6;
}

a {
  color: inherit;
  text-decoration: none;
}

p a {
  font-weight: bold;
  box-shadow: inset 0 -0.5em 0 var(--accent);
}

p {
  max-width: 45em; /* fallback for ch unit */
  max-width: 80ch;
}
