.bunny {
  margin: 2rem 0;
}

.bunny .bunny__image {
  width: 20em;
  max-width: 80%;
  height: auto;
  image-rendering: crisp-edges;
  image-rendering: -moz-crisp-edges;
  image-rendering: pixelated;
  transition: transform 4s;
}

.bunny .bunny__state {
  display: none;
}

.bunny input.bunny__state:checked + .bunny__container .bunny__image {
  transform: rotate(360deg);
  -moz-transform: rotate(360deg);
}
